@model EbsTisbiBook.WebAppMVC.Models.Library.Book

@{
    ViewData["Title"] = "Удаление";
    Layout = "~/Views/Admin/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h3>Вы действительно хотите удалить данный элемент?</h3>
<div>
    <h4>Издание</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleAdditional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleAdditional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Liability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Liability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pubyear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pubyear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fgos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fgos.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pubhouse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pubhouse.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pubtype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pubtype.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialPurpose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialPurpose.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад к списку</a>
    </form>
</div>
