@model EbsTisbiBook.WebAppMVC.Models.Library.Book
<div class="book-card-container">
    <div class="cover-button-group">
        <div class="book-background">
            <img src="@(Model.Image)" alt="Book cover">
        </div>
        <button type="button" class="read-book-btn" asp-controller="Books" asp-action="Book" asp-route-id="@Model.Id">
            Подробнее
        </button>
    </div>
    <div class="text-container">
        <div class="book-title">
            @Model.Title
        </div>
        <div class="book-authors">
            @foreach(var author in Model.Authors)
            {
                @($"{author.Surname} {author.Name[0]}. {author.Middlename[0]}.,")
            }
        </div>
        <div class="book-description">
            @Model.Description
        </div>
    </div>
</div>